<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//use.typekit.net/ikt5awk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <style type="text/css">
      body {
        background-color: #ffde00;
      }
    </style>
  </head>
  <body>
    <!-- mobile -->
    <div class="container visible-xs">
      <div class="row">
        <div class="col-xs-12">
        <img class="img-responsive center-block" src="/images/initials.png">
      </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="tk-fira-mono">Get my details straight to your phone.</h1>

        </div>
      </div>

      <div class="row">

      <form class="form-inline text-center" action="/" method="POST">
        <div class="form-group">
          <div class="col-xs-9">
            <input name="email" type="email" class="form-control" placeholder="jane.doe@example.com">
          </div>
        </div>
        <div class="col-xs-3">
          <button type="submit" class="btn btn-default">Get it</button>
        </div>
      </form>
      </div>
    </div>
    </div>

    <!-- Desktop -->

    <div class="container hidden-xs">
      <div class="row">
        <div class="col-md-4">
        <h1 class="tk-fira-mono">Get my details straight to your computer.</h1>
      </div>
      <div class="col-md-8"></div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive center-block"src="/images/h_1.png" />
        </div>
      </div>

      <div class="row">

      <form class="form-inline text-center" action="/" method="POST">
        <div class="form-group">
          
            <input name="email" type="email" class="form-control" placeholder="jane.doe@example.com">
          
        </div>
        
          <button type="submit" class="btn btn-default">Get it</button>
        
      </form>
      </div>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>